body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Óñòàíàâëèâàåì îòñòóïû, ÷òîáû êîíòåíò íå ïðèæèìàëñÿ ê êðàÿì */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Óñòàíàâëèâàåì øèðèíó äëÿ ýëåìåíòîâ ôîðìû, òàê êàê ïî óìîë÷àíèþ îíè çàíèìàþò 100% øèðèíû */
input,
select,
textarea {
    max-width: 280px;
}

/* Öâåò ôîíà */
body {
    background: linear-gradient(to right, #170E43, #ff00dc);
    color: white;
}

/* Ñòèëè äëÿ ñîîáùåíèé îá îøèáêàõ âàëèäàöèè */
.field-validation-error {
    color: #b94a48; /* Êðàñíûé öâåò îøèáêè */
}

/* Ñêðûâàåì ñîîáùåíèÿ, åñëè îøèáîê íåò */
.field-validation-valid {
    display: none; 
}

/* Êðàñíàÿ ðàìêà äëÿ ïîëåé ââîäà ñ îøèáêîé */
input.input-validation-error {
    border: 1px solid #b94a48;
}

/* Óáèðàåì ðàìêó ó ÷åêáîêñîâ ñ îøèáêîé */
input[type="checkbox"].input-validation-error {
    border: 0 none;
}

/* Ñòèëè äëÿ ñïèñêà îøèáîê âàëèäàöèè */
.validation-summary-errors {
    color: #b94a48;
}

/* Ñêðûâàåì ñîîáùåíèå, åñëè îøèáîê íåò */
.validation-summary-valid {
    display: none;
}

/* Öâåò navbar */
.navbar-inverse {
    background-color: #0F092C; 
    border-color: #0F092C;
}

/* Öâåò òåêñòà ëîãîòèïà */
.navbar-inverse .navbar-brand {
    color: white; 
}

/* Öâåò òåêñòà ëîãîòèïà ïðè íàâåäåíèè */
.navbar-inverse .navbar-brand:hover {
    color: #ff00dc; 
}

/* Öâåò òåêñòà â navbar  */
.navbar-inverse .navbar-nav > li > a {
    color: white; 
}

/* Öâåò òåêñòà â navbar ïðè íàâåäåíèè */
.navbar-inverse .navbar-nav > li > a:hover {
    color: #ff00dc;
}

.qwert {
    color: #ff00dc;

/* Öâåò ôîíà äëÿ êîíòåéíåðà íà ãëàâíîé ñòðàíèöå */
.jumbotron {
    background-color: #0F092C; 
}

/* Öâåò êíîïêè */
.btn-primary {
    background-color: #ff00dc !important; 
    border-color: #ff00dc !important;
    color: #fff !important;
}

.btn-primary:hover {
    background-color: #d600b8 !important; /* ×óòü òåìíåå ïðè íàâåäåíèÿ */
    border-color: #d600b8 !important;
    color: #fff !important;
}

/* Îêîíòîâêà òåêñòà çàãîëîâêà */
h1 {
    color: white;
    text-shadow: 0 0 5px #ff00dc, /* Ìÿãêîå âíóòðåííåå ñâå÷åíèå */
    0 0 10px #ff00dc, /* Ñðåäíèé ñëîé */
    0 0 20px #ff00dc, /* Áîëåå ÿðêîå ñâå÷åíèå */
    0 0 40px #ff00dc; /* Äàëüíèé ýôôåêò äëÿ ãëóáèíû */
}

/* Òåìíî-ôèîëåòîâûé öâåò òåêñòà äëÿ îáû÷íûõ êíîïîê*/
.btn-default {
    color: #0F092C !important; 
}

/* Îôîðìëåíèå êîíòåéíåðà ñ îòçûâîì */
.testimonial {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    border-color: #ff00dc;
    background-color: #0F092C;
    margin: 10px 0;
}
/* Àâàòàð àâòîðîâ îòçûâîâ */
.testimonial-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Òåêñò îòçûâà */
.testimonial-text {
    font-style: italic;
}

/* Àâòîð îòçûâà */
.testimonial-author {
    font-weight: bold;
    margin-top: 10px;

}