/* Тело */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Отступы, чтобы контент не прижимался к краям */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Ширина для элементов формы */
input,
select,
textarea {
    max-width: 280px;
}

/* Цвет фона */
body {
    background: linear-gradient(to right, #170E43, #ff00dc);
    color: white;
}

/* Стили для сообщений об ошибках валидации */
.field-validation-error {
    color: #b94a48; /* Красный цвет ошибки */
}

/* Скрываем сообщения, если ошибок нет */
.field-validation-valid {
    display: none;
}

/* Красная рамка для полей ввода с ошибкой */
input.input-validation-error {
    border: 1px solid #b94a48;
}

/* Убираем рамку у чекбоксов с ошибкой */
input[type="checkbox"].input-validation-error {
    border: 0 none;
}

/* Стили для списка ошибок валидации */
.validation-summary-errors {
    color: #b94a48;
}

/* Скрываем сообщение, если ошибок нет */
.validation-summary-valid {
    display: none;
}

/* Высота */
.navbar {
    max-height: 50px; 
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Цвет navbar */
.navbar-inverse {
    background-color: #0F092C;
    border-color: #0F092C;
}

/* Цвет текста логотипа */
.navbar-inverse .navbar-brand {
color: white;
}

    /* Цвет текста логотипа при наведении */
    .navbar-inverse .navbar-brand:hover {
        color: white;
        text-shadow: 0 0 5px #ff00dc, /* Мягкое внутреннее свечение */
        0 0 10px #ff00dc, /* Средний слой */
        0 0 20px #ff00dc, /* Более яркое свечение */
        0 0 40px #ff00dc; /* Дальний эффект для глубины */
    }

/* Цвет текста в navbar  */
.navbar-inverse .navbar-nav > li > a {
color: white;
}

    /* Цвет текста в navbar при наведении */
    .navbar-inverse .navbar-nav > li > a:hover {
        color: white;
        text-shadow: 0 0 5px #ff00dc, /* Мягкое внутреннее свечение */
        0 0 10px #ff00dc, /* Средний слой */
        0 0 20px #ff00dc, /* Более яркое свечение */
        0 0 40px #ff00dc; /* Дальний эффект для глубины */
    }

/* Цвет фона для контейнера на главной странице */
.jumbotron {
    background-color: rgba(15, 9, 44, 0.8);
}

/* Цвет кнопки */
.btn-primary {
    background-color: #ff00dc;
    border-color: #ff00dc;
    color: #fff;
}

    /* При наведения */
    .btn-primary:hover {
        background-color: #ff3ce6; 
        border-color: #ff00dc;
        color: #fff;
    }

/* Оконтовка текста заголовка */
h1 {
    color: white;
    text-shadow: 0 0 5px #ff00dc, /* Мягкое внутреннее свечение */
    0 0 10px #ff00dc, /* Средний слой */
    0 0 20px #ff00dc, /* Более яркое свечение */
    0 0 40px #ff00dc; /* Дальний эффект для глубины */
}

/* Темно-фиолетовый цвет текста для обычных кнопок */
.btn-default {
    color: #0F092C;
}

/* Оформление контейнера с отзывами */
.testimonial {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    border-color: #ff00dc;
    background-color: rgba(15, 9, 44, 0.6);
    margin: 10px 0;
}

/* Аватар авторов отзывов */
.testimonial-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Текст отзыва */
.testimonial-text {
    font-style: italic;
}

/* Автор отзыва */
.testimonial-author {
    font-weight: bold;
    margin-top: 10px;
}

/* Цвета для услуг*/
.highlight {
    color: white;
    text-shadow: 0 0 5px #ff00dc, /* Мягкое внутреннее свечение */
    0 0 10px #ff00dc, /* Средний слой */
    0 0 20px #ff00dc, /* Более яркое свечение */
    0 0 40px #ff00dc; /* Дальний эффект для глубины */
}

/* Контейнер галереи */
.gallery-container {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    flex-wrap: wrap; /* Перенос элементов при нехватке места */
    gap: 20px; /* Расстояние между изображениями */
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Ссылка внутри галлереи */
.gallery-container a {
    display: block;
    width: 150px; 
}

/* Оформление изображения */
.gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заполнение всего блока */
    border-radius: 10px; /* Скругление углов */
    transition: transform 0.3s; /* Плавное изменение масштаба */
}

/* Анимация тряски при наведении */
.gallery-container a:hover img {
    animation: shake-zoom 0.3s infinite; 
}

/* Анимация трсяки и увеличения */
@keyframes shake-zoom {
    0% {
        transform: scale(1.1) translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: scale(1.1) translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: scale(1.1) translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: scale(1.1) translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: scale(1.1) translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: scale(1.1) translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: scale(1.1) translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: scale(1.1) translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: scale(1.1) translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: scale(1.1) translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: scale(1.1) translate(1px, -2px) rotate(-1deg);
    }
}

/* Заголовок услуг */
.h2_serv{
    text-align:center;
    font-size: 45px;
}

/* Контейнер услуг */
.testimonial-wrapper {
    display: flex; 
    justify-content: space-between; /* Пространство между блоками */
    gap: 20px; /* Отступы между блоками */
}

/* Блок с услугой */
.testimonial1 {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    border-color: #ff00dc;
    background-color: rgba(15, 9, 44, 0.6);
    margin: 10px 0;
    flex: 1; /* Равномерное распределение ширины */
    max-width: 48%; /* Определённая ширина */
    box-sizing: border-box; /* Учитывать padding в общей ширине */
}

/* Эффект при наведении на услугу */
.testimonial1:hover {
    transform: scale(1.02); /* Увеличение */
    box-shadow: 0 0 30px rgba(255, 0, 220, 0.7); /* Яркое свечение */
}

/* Заголовок услуги */
.testimonial-title1 {
    font-size: 28px;
    color: #ff00dc;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/* Текст отзыва */
.testimonial-text1 {
    font-style: normal; 
    font-size: 16px;
    line-height: 1.6; 
    text-align: justify; /* Выровнять по краям */
    margin-bottom: 15px;
}

/* Отступ контейнера */
.container {
    margin-bottom: 50px; /* Воздух снизу */
}

/* Заголовок услуги */
.h3_serv {
    text-align: center;
}

/* Контейнер с блоками концертов */
.row-about {
    display: flex;
    justify-content: center; 
    gap: 20px; /* Расстояние между блоками */
    flex-wrap: wrap; /* Позволит перенос, если экран маленький */
}

/* Стили для каждого блока с информацией о концерте */
.col-proud {
    flex: 1; /* Равномерное распределение ширины */
    max-width: 30%; /* Чтобы не сжималось слишком сильно */
    text-align: center;
    margin: 10px;
}

    /* Отступы картинок */
    .col-proud img {
        margin-bottom: 20px;
        width: 300px;
    }

/* Оформление контейнера с концертами */
.concert {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    border-color: #ff00dc;
    background-color: rgba(15, 9, 44, 0.6);
    width: 360px;
    flex-grow: 1;
}

/* Оформление контейнера с создательницами */
.creator {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    border-color: #ff00dc;
    background-color: rgba(15, 9, 44, 0.6);
    width: 360px;
    flex-grow: 1;
}

    /* Оформление аватаров создательниц */
    .creator img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

/* Контейнер галереи */
.work-with {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    flex-wrap: wrap; /* Перенос элементов при нехватке места */
    gap: 20px; /* Расстояние между изображениями */
    margin-top: 50px;
    margin-bottom: 20px;
}

    /* Ссылка внутри галлереи */
    .work-with a {
        display: block;
        width: 150px;
    }

    /* Оформление изображения */
    .work-with img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Заполнение всего блока */
        border-radius: 10px; /* Скругление углов */
        transition: transform 0.3s; /* Плавное изменение масштаба */
    }