body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Устанавливаем отступы, чтобы контент не прижимался к краям */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Устанавливаем ширину для элементов формы, так как по умолчанию они занимают 100% ширины */
input,
select,
textarea {
    max-width: 280px;
}

/* Цвет фона */
body {
    background: linear-gradient(to right, #170E43, #ff00dc);
    color: white;
}

/* Стили для сообщений об ошибках валидации */
.field-validation-error {
    color: #b94a48; /* Красный цвет ошибки */
}

/* Скрываем сообщения, если ошибок нет */
.field-validation-valid {
    display: none; 
}

/* Красная рамка для полей ввода с ошибкой */
input.input-validation-error {
    border: 1px solid #b94a48;
}

/* Убираем рамку у чекбоксов с ошибкой */
input[type="checkbox"].input-validation-error {
    border: 0 none;
}

/* Стили для списка ошибок валидации */
.validation-summary-errors {
    color: #b94a48;
}

/* Скрываем сообщение, если ошибок нет */
.validation-summary-valid {
    display: none;
}

/* Цвет navbar */
.navbar-inverse {
    background-color: #0F092C; 
    border-color: #0F092C;
}

/* Цвет текста логотипа */
.navbar-inverse .navbar-brand {
    color: white; 
}

/* Цвет текста логотипа при наведении */
.navbar-inverse .navbar-brand:hover {
    color: #ff00dc; 
}

/* Цвет текста в navbar  */
.navbar-inverse .navbar-nav > li > a {
    color: white; 
}

/* Цвет текста в navbar при наведении */
.navbar-inverse .navbar-nav > li > a:hover {
    color: #ff00dc;
}

/* Цвет фона для контейнера на главной странице */
.jumbotron {
    background-color: #0F092C; 
}

/* Цвет кнопки */
.btn-primary {
    background-color: #ff00dc !important; 
    border-color: #ff00dc !important;
    color: #fff !important;
}

.btn-primary:hover {
    background-color: #d600b8 !important; /* Чуть темнее при наведения */
    border-color: #d600b8 !important;
    color: #fff !important;
}

/* Оконтовка текста заголовка */
h1 {
    color: white;
    text-shadow: 0 0 5px #ff00dc, /* Мягкое внутреннее свечение */
    0 0 10px #ff00dc, /* Средний слой */
    0 0 20px #ff00dc, /* Более яркое свечение */
    0 0 40px #ff00dc; /* Дальний эффект для глубины */
}

/* Темно-фиолетовый цвет текста для обычных кнопок*/
.btn-default {
    color: #0F092C !important; 
}

/* Оформление контейнера с отзывом */
.testimonial {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    border-color: #ff00dc;
    background-color: #0F092C;
    margin: 10px 0;
}
/* Аватар авторов отзывов */
.testimonial-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Текст отзыва */
.testimonial-text {
    font-style: italic;
}

/* Автор отзыва */
.testimonial-author {
    font-weight: bold;
    margin-top: 10px;
}

/*//////////////////////////// VIKA EVIL //////////////////////////////////////*/

/*Цвета для услуг*/
.highlight {
    color: #ff00dc;
    font-weight: bold;
}

/* Фотки */
.gallery-container {
    display: flex;
    justify-content: center; /* Центрируем */
    flex-wrap: wrap; /* Если не влазит, переносим */
    gap: 10px; /* Отступы между фотками */

    margin-top: 20px;
    margin-bottom: 50px;
}

.gallery-container img {
    width: 12%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery-container img:hover {
    transform: scale(1.1);
}

h2{
    text-align:center;
    font-size: 45px;
}